<div class="sidebar">
	<div class="bio">
		<a href="{{ links.home }}">
			<img src="images/me.png" />
		</a>
	</div>

	<div class="title">
		<a href="{{ links.home }}">Chris Loughney</a>
	</div>

	<div class="menu">
		<a class="menu-item highlight" href="{{ links.blog }}">Blog</a>
		<a class="menu-item" href="{{ links.playground }}">Playground</a>
		<a class="menu-item" href="{{ links.resume }}">Resume</a>
	</div>

	<div class="social">
		<div>
			<i class="fa fa-github"></i>
			<a href="https://github.com/cloughney">GitHub</a>
		</div>
		<div>
			<i class="fa fa-linkedin-square"></i>
			<a href="http://www.linkedin.com/pub/christopher-loughney/5a/363/6b/">LinkedIn</a>
		</div>
	</div>
</div>
