<div class="sidebar">
	<div class="bio">
		<a href="{{ links.home }}">
			<img src="images/me.png" />
		</a>
	</div>

	<div class="title">
		<a href="{{ links.home }}">Chris Loughney</a>
	</div>

	<div class="menu">
		<ul>
			<li class="menu-item">
				<a href="{{ links.showcase }}">
					<i class="fa fa-magic"></i>Showcase
				</a>
			</li>
			<li class="menu-item">
				<a href="{{ links.resume }}">
					<i class="fa fa-list"></i>Resume
				</a>
			</li>
		</ul>
	</div>

	<div class="social">
		<div>
			<a href="{{ links.github }}">
				<i class="fa fa-github"></i>GitHub
			</a>
		</div>
		<div>
			<a href="{{ links.linkedin }}">
				<i class="fa fa-linkedin-square"></i>LinkedIn
			</a>
		</div>
	</div>
</div>
