<div class="sidebar">
	<div class="bio">
		<a href="{{ links.showcase.href }}">
			<img src="images/me.png" />
		</a>
	</div>
	<div class="title">
		<a href="{{ href "showcase" links }}">Chris Loughney</a>
	</div>

	<div class="menu">
		<ul>
			<li class="menu-item {{# if links.resume.isActive }}active{{/ if }}">
				<a href="{{ href "resume" links }}">Resume</a>
			</li>
			<li class="menu-item {{# if links.showcase.isActive }}active{{/ if }}">
				<a href="{{ href "showcase" links }}">Showcase</a>
			</li>
		</ul>
	</div>

	<div class="social">
		<ul>
			<li>
				<a href="{{ href "github" links }}">
					<i class="fa fa-github"></i>GitHub
				</a>
			</li>
			<li>
				<a href="{{ href "linkedin" links }}">
					<i class="fa fa-linkedin-square"></i>LinkedIn
				</a>
			</li>
		</ul>
	</div>
</div>
